# Jenkins Configuration
JENKINS_URL=http://your-jenkins-ip:your-jenkins-port
JENKINS_USER=your jenkins-user
JENKINS_PASSWORD=your_jenkins_admin_password_here

# Docker Hub Credentials
DOCKER_USERNAME=your_docker_username
DOCKER_PASSWORD=your_docker_password

# GitHub Credentials
GITHUB_USERNAME=your_github_username
GITHUB_TOKEN=your_github_personal_access_token

# SSH Key Path
SSH_KEY_PATH=/path/to/your/ssh/private/key.pem
